<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      Nostalgify
    </title>
      <link rel = "stylesheet" href= "{{ url_for('static', filename='styles.css') }}">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Iceberg&family=Jacquard+12&family=Jersey+15&family=Pixelify+Sans:wght@400..700&family=Texturina:ital,opsz,wght@0,12..72,100..900;1,12..72,100..900&display=swap" rel="stylesheet">
      <body>
    <div class = 'welcome-page'>
      <p class = 'logo-text'> Nostalgify. </p>
      <div class = 'privacy-container'>
        <p class = 'privacy-heading'>
          Privacy Policy
        </p>
        <p class = 'privacy-text'>
          Nostalgify was developed as an open source app powered by the Spotify Web API. By choosing to use this app, you agree to the use of your Spotify account username and data for your top tracks and artists.
        </p>
        <p class = 'privacy-text'>
          All of the data collected is solely used for the purpose of creating your "Y2K" list. None of the information will be stored, used, or shared with any third parties.
        </p>
      </div>
      <footer class = 'footer-container'>
        <a class = 'footer-text' href = '/'> Home </a> &nbsp; | &nbsp;
        <a class = 'footer-text' href = '/about'> About</a> &nbsp; | &nbsp;
        <a class = 'footer-text' href = '/privacy'> Privacy Policy</a>  
      </footer>
    </div>
  </body>
</html>