<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      Nostalgify
    </title>
      <link rel = "stylesheet" href= "{{ url_for('static', filename='styles.css') }}">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Iceberg&family=Jacquard+12&family=Jersey+15&family=Pixelify+Sans:wght@400..700&family=Texturina:ital,opsz,wght@0,12..72,100..900;1,12..72,100..900&display=swap" rel="stylesheet">
    <body>
    <div class = 'welcome-page'>
      <p class = 'logo-text'> Nostalgify. </p>
      <div class = 'tagline-box'>
        <p class = 'tagline'> Your Spotify stats, but it's the year 2006 </p>
      </div>
      <div class = 'login-box'>
        <div class = 'login-box-header'>
          <p class = 'login-box-header-text'>
            You're Invited To
          </p>
        </div>
        <p class = 'login-box-message'>
          Log In With Spotify...
        </p>
        <img class = 'play-icon' src = "{{ url_for('static', filename = 'images/play.png')}}">
        <button class = 'login-button' onclick = "location.href = '/login';"> Enter</button>
      </div>
      <footer class = 'footer-container'>
        <a class = 'footer-text' href = '/'> Home </a> &nbsp; | &nbsp;
        <a class = 'footer-text' href = '/about'> About</a> &nbsp; | &nbsp;
        <a class = 'footer-text' href = '/privacy'> Privacy Policy</a>  
      </footer>
    </div>
  </body>
</html>